#output-container {
    display:grid;
    grid-template-columns: 600px 15.547vw;
    column-gap: 2em;
    height: 600px;
}
#shape-container {
    background-color: darkslategray;
    position: relative;
    overflow: hidden;
}
#shape-details {
    background-color: teal;
}
.shape {
    position: absolute;
    opacity: 50%;
}
.circle {
    border-radius: 50%;
    background-color: purple;
}
.triangle {
    width: 0;
    height: 0;
}
br {   
    content: "A" !important;
    display: block !important;
    margin-bottom: 1em !important;
}
#shape-details-text {
    margin-left: 0.5em;
}